.baseButton {
  background-color: var(--button-default);
  border-radius: 0;
  line-height: 3rem;
  color: var(--text-button);
  display: inline-flex;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  transition: color 0.4s ease, border 0.4s ease;

  font-family: var(--global-font-families-sf-compact);
  font-weight: var(--global-font-weights-sf-compact-3);
  font-size: var(--global-font-size-0);

  &:hover {
    background-color: var(--button-hover)
  }

  &:focus {
    background-color: var(--button-pressed);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.inner {
  margin: auto;
  display: flex;
}

.variant-outline {
  background-color: transparent;
  border: 1px solid var(--spectrum-gray-000);
  color: var(--spectrum-gray-000);

  &:hover {
    background-color: transparent;
    border: 1px solid var(--button-outline-hover);
    color: var(--button-outline-hover);
  }

  &:disabled {
    border-color: var(--button-outline-disabled);
    background-color: var(--button-outline-disabled);
    cursor: not-allowed;
  }
}
