.baseButton {
  border-radius: 0;
  line-height: 3rem;
  display: inline-flex;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  transition: color 0.4s ease, border 0.4s ease;

  font-family: var(--global-font-families-sf-compact);
  font-weight: var(--global-font-weights-sf-compact-2);
  font-size: calc(var(--global-font-size-0) * 0.1rem);

  &:hover {
    background-color: var(--button-primary);
  }

  &:focus {
    /*background-color: var(--button-pressed);*/
  }

  &:disabled {
    pointer-events: none;
  }
}

.inner {
  margin: auto;
  display: flex;
}

.variant-outline {
  background: transparent;
  border: 1px solid var(--button-primary);
  color: var(--button-primary);

  &:hover {
    background-color: var(--button-primary);
    color: var(--button-secondary);
  }

  &:hover * {
    color: var(--button-secondary);
    stroke: var(--button-secondary);
  }

  &:disabled {
    color: var(--button-disabled);
    border: 1px solid var(--button-disabled);

    * {
      color: var(--button-disabled);
      stroke: var(--button-disabled);
    }
  }
}

.variant-bare {
  background-color: transparent;
  border: 0 none;
  color: var(---button-primary);

  &:hover {
    background-color: transparent;
     border: 0 none;
  }
}
