.baseButton {
  background-color: var(--button-default);
  border-radius: 0;
  height: 5.5rem;
  padding: 1rem 1.9rem 1.1rem;
  color: var(--text-button);
  display: inline-flex;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  transition: color 0.4s ease, border 0.4s ease;

  font-family: var(--global-font-families-sf-compact);
  font-weight: var(--global-font-weights-sf-compact-3);
  font-size: var(--global-font-size-0);

  &:hover {
    background-color: var(--button-hover)
  }

  &:focus {
    background-color: var(--button-pressed);
  }
}

.inner {
  margin: auto;
  display: flex;
}

.variant-outline {
  background-color: transparent;
  border: 1px solid var(--button-outline-default);
  color: var(--text-button-outline);

  &:hover {
    background-color: transparent;
    border: 1px solid var(--button-outline-hover);
    color: var(--button-outline-hover);
  }
}
