.root {
  grid-area: sidebar;
  position: sticky;
  top: 4rem;
  max-height: calc(100vh - 8rem);
  padding-right: 10rem;
  z-index: 15;

  @media only screen and (max-width: 900px) {
    position: relative;
    grid-area: initial;
    padding-right: 0;
    grid-column: auto / span 12;
  }
}