
.root {
  position: relative;
}


p {
  font-family: "SF Compact";
  font-weight: 100;
  line-height: 2.8rem;
  font-size: 2rem;
  letter-spacing: 0;
}

strong {
  font-family: "SF Compact";
  font-weight: bold;
}

.variant-small {
  font-size: 1.8rem;
}